@{
    ViewBag.Title = "Search Passengers";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h6>You can search Passengers with any part of the Locator or Passenger name. Please click the correct button.</h6>


<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required placeholder="Any part of the passenger or locator name">
</div>

<button class="btn btn-primary" onclick="Get.SearchByPassenger();return false;">Search By Passenger Name</button>

<button class="btn btn-primary" onclick="Get.SearchByLocator();return false;">Search By Locator Name</button>

<div class="row">
    <div class="result col-sm-5" id="resultMessage" style="display:none;"></div>
</div>
